footer {
  width: 1050px;
  margin: auto;
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #d2d2d7;
}

footer ul {
  list-style: none;
}

footer section {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

footer nav {
  display: flex;
  padding: 20px 0px 20px 0px;
  align-items: center;
  gap: 10px;
}

nav span {
  margin-top: 1px;
}

li h1 {
  font-size: 14px;
  color: #424245;
  text-decoration: none;
  font-weight: bold;
}

.list-title {
  font-size: 14px;
  color: #424245;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}

li a {
  font-size: 13px;
  color: #424245;
  text-decoration: none;
}

.item-list {
  margin: 0px;
  height: auto;
  transition: all 300ms;
}

.item-list--active {
  margin: 0px;
  margin-bottom: 10px;
  height: auto;
  transition: all 300ms;
}

.plus-icon{
  display: none;
}

.plus-icon--active {
  display: none;
}

@media (width < 1075px) {
  footer {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #d2d2d7;
  }

  footer nav{
    margin-left: 7px;
  }

  footer section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .title-drop {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #d2d2d7;
  }

  .list-title {
    margin-top: 0px;
    padding: 10px;
  }

  .item-list {
    padding: 0;
    margin: 0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s all;
  }

  .item-list--active {
    margin: 0px;
    margin-bottom: 10px;
    height: auto;
    transition: all 300ms;
  }

  .ul-container {
    margin-left: 20px;
    margin-bottom: 12px;
  }

  .plus-icon {
    margin-right: 10px;
    transition: all 400ms;
    font-size: 14px;
    display: block;
  }

  .plus-icon--active {
    transform: rotate(45deg);
    margin-right: 10px;
    transition: all 400ms;
    font-size: 14px;
    display: block;

  }

  li h1 {
    font-size: 16px;
    color: #424245;
    text-decoration: none;
    font-weight: bold;
  }

  div h1 {
    font-size: 14px;
    color: #424245;
    text-decoration: none;
    font-weight: bold;
  }

  li a {
    font-size: 14px;
    color: #424245;
    text-decoration: none;
    padding-left: 10px;
  }
}

/* @media (width < 1075px){
  footer ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: left;
  }

  li h1 {
    font-size: 17px;
    color: #424245;
    text-decoration: none;
    font-weight: bold;  
  }
  
  div h1{
    font-size: 15px;
    color: #424245;
    text-decoration: none;
    font-weight: bold;
  }
  
  li a {
    font-size: 15px;
    color: #424245;
    text-decoration: none;
  }

} */
